body {
    font-family: arial, helvetica;
}

h1 {
    padding: 0 0 0 40%;
}

.container {
    background: #eee;
    width: 600px;
    margin: 50px auto 0;
    padding: 10px;
    border: 3px solid #000;
    display: flex;
}

.item1 {
    background: orangered;
}

.item2 {
    background: yellowgreen;
}

.item3 {
    background: mediumblue;
}

.item4 {
    background: hotpink;
}

